* {
  margin: 0;
  padding: 0;
}

:root,
:root.light {
  --primary-color: #8758FF;
  --secondary-color: #5CB8E4;
  --background-color: #F2F2F2;
  --accent-color: #181818;
  --text-color: #181818;
}
[data-theme="dark"] {
  --text-color: #F2F2F2;
  --accent-color: #F2F2F2;
  --background-color: #181818;
}

body {
  background-color: var(--background-color);
  font-family: 'Poppins', ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
  padding: 20px 20px 40px 20px;
}

